

body{
    background-color:#060606;
    background-image: url(../img/background-pizza.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

/*cabecario*/
#banner{
    background-color: rgba(0, 0, 0,);
    height: 76px;
    padding: 30px 70px 30px 70px;
}
#banner h1{
    float: left;
    margin: 0;
}
#banner nav {
    float: right;
    position: relative;
    top: 30px;
}
#banner ul{
    margin: 0;
}
#banner nav ul li{
    display:inline-block; /*deixa o elemento em linha*/
    width: 100px;
}

#banner nav ul li a{
    color: #ffffff;
    text-decoration:none;/*dira decoração do link*/
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-family: "Helvertica",sans-serif;
}
/*estilizar h2*/
#sabores-pizzas h2{
    color: #fff;
    font-family: "Helvertica",sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    line-height: 6;
    text-shadow: 2px 2px 10px #060606;
}

#sabores-pizzas table{
    background-color:#2a2a2a;
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
 }

#sabores-pizzas table td,
#sabores-pizzas table th{
    border: 1px #000 solid;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    text-transform: "Helvertica",sans-serif;
    padding: 25px;
}

#sabores-pizzas .texto-negativo{
    color: #fb3958;
}

#sabores-pizzas .texto-positivo{
    color: #87b50f;

}

#sabores-pizzas{
    padding: 60px;
    margin-top: 400px;
}

#copyright a{
    display: block;
    text-align: center;
}

#copyright p{
    color: #fff;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Helvertica",sans-serif;

}

#copyright{
    background-color: #060606;
    padding: 35px 0 10px 0;

}


